* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Made Tommy Soft";
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family:Made Tommy Soft;
  src: url(Assets/made_tommy_soft/MADE\ Tommy\ Soft\ Regular\ PERSONAL\ USE.otf);
}

body {
  background: #000c01;
  /* font-family: "Poppins", sans-serif;  */
  overflow-x: hidden;
}

#body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74vh;
  overflow: hidden;
}

.nav-end-mobile{
  display: none;
}
.nav-main{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  padding:25px 50px 25px 50px
}

.nav-middle ul{
  display: flex;
  justify-self:start;
  gap:10%;
  list-style: none;
  font-size: 1.45vw;
  margin-left: -14%;
}

.nav-middle li{
  padding: 10px 0px;
  border-bottom: 2px solid transparent;
}

.nav-middle li:hover{
  color:#019A6C;
  border-bottom: 2px solid #28A271;
  
}

.mySlides img{
  height:900px;
  padding: 0px 0px 40px 35px;
}

.nav-middle a{
  color:#FFFFFF
}
.nav-middle a:hover{
  color:#019A6C;
  /* border-bottom: 2px solid #28A271; */
  
}

.nav-middle button{
  font-size: 1.45vw;
}
.dropbtn {
  background:#000c01 !important;
  color: white;
   display: flex;
  /* font-size: 3vw; */
  border: none;
  gap:2%;
}

.dropbtn i{
  font-size:1.3vw;
  margin-left: 1%;
  margin-top: 2px;
}
 
.dropdown {
  position: relative;
  display: inline-block;
}
 
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #000c01; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 15px;
}
 
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
 
.dropdown-content a:hover {background-color: #000c01;}
 
.dropdown:hover .dropdown-content {display: block;}
 
.dropdown:hover .dropbtn {background-color: #000c01;}

#opp-down{
  display: flex;
  gap:1%;
}

#opp-down i{
  margin: 1%;
}

.nav-end i{
  font-size: 1.8vw;
  margin-left:1vw;
  
}

.nav-start img{
  width: 139px;
  height:50px;
  padding-top: 5px;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #FFFFFF;
  border-radius: 32px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
 
.active,
.dot:hover {
  background-color: #29AB87;
  width: 80px;
  border-radius: 40px;
};
has context menu

.carousel-container {
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  /* background-color: #fff; */
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  display: block;
}

.carousel-controls {  
  display: flex;  
  position: relative; 
  left:89%; 
}

.carousel-btn {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom:1%; */
  /* margin-top:1%; */
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}



.banner {
  margin-left: 6%;
  margin-right: 6%;
}

.banner img{
  width:90vw;
  margin-top: 5%;
}

.gig-finder {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 5% 10%;
  color: white;
}

.four-rectangle {
  width: 50%;
}

.four-rectangle img{
  width:220px; 
  height:273px;
  height:20vw
}

.four-rectangle img:hover{
  transform: scale(1.1);
}

.who-are-we {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:3%;
  padding:15px;
}
.handImage{
 margin-left: -5%;
}

.para-1{
    font-weight: 700;
    font-size: 0.8vw;
    text-transform:uppercase;
    letter-spacing: 0.4vw;
}

.who-are-we h1{
    font-weight: 700;
    font-size:2.8vw;
    line-height: 4vw;
}

.who-are-we button{
  padding:10px 20px;
  border:2px solid #28A271;
  border-radius: 10px;
  background-color: #141416;
  color:#FFFFFF;
  font-size:1.2vw;
  font-weight: 400;
  cursor: pointer;
}

.para-2{
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.8vw;
}

.sector-innovations{
    width: 80%;
    color:white;
    background: #252525;
    margin: 2% 10%;
    padding:40px;
    border-radius: 25px;
}

.sector-innovations p{
    margin-bottom: 1%;
}

.sector-innovations h3{
    margin-bottom: 1%;
    font-weight: 500;
    font-size: 3.8vw;
}

.para-3{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size:1vw;
}

.para-4{
    font-weight: 400;
    font-size:1.4vw;
    line-height: 2.3vw;
}

.Innovations{
    padding: 10px;
}

.Innovations img{
    margin: -2%;
    height: 30px;
    border-right: 10px solid transparent;
}

.Innovations a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2vw;
    padding: 25px;
    width: 30%;
    display: inline-block;
    border:2px solid transparent;
}

.Innovations i{
    font-size: 1.8vw;
    margin: -2.8%;
    padding: 10px;
}
 
.Innovations a:hover {
  border-bottom: 2px solid #29AB87;
  color: #019A6C;
}



.arrow-right{
    color: #28A271;
    opacity: 0;
    margin:0;
}

.help{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:5% 10%;
  color:white;
  gap:15px;
}

.help-cards{
  display: flex;
  flex-wrap: wrap;
}
.card{
  width:18.3vw;
  height: 32vw;
  background-color: #000;
  border-radius: 12px;
  margin:8px;
  position: relative;
  overflow: hidden;
}

.card h3{
  border-bottom: 2px solid white;
  margin-bottom: 2px;
  opacity: 1;
  position:absolute;
  top:80%;
  font-size: 1.5vw;
  width: 100%;
  padding:5px;
}

.help-cards{
  display: flex;
}

.card p{
  padding: 5px;
  opacity: 0;
}

.card:hover p{
  opacity: 1;
  color:#FFFFFF;
  font-weight: 900;
}

.help button{
  padding: 10px;
  border-radius: 20px;
  background:#28A271;
  color:white;
  border:none;
  width:154.47px;
  height:41px;
  font-size: 13.03px;
  font-weight: 400;
}

.wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  width: 200px;
  height: 100px;
  background-color:#28A271;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 10px 0px #fdfdfd40;

}

.itemLeft {
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * 8), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.grow{
  width:100%;
  background:#252525;
  display: flex;
  padding: 30px;
}

.left-grow{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  padding-left: 8.1%;
  color:#FFFFFF;
  text-transform: capitalize;
}

.p{
  letter-spacing: 5px;
  font-weight:700 ;
}

.p-2{
  font-weight:400;
  line-height: 2.1vw;
}

.left-grow h1{
   font-size: 3.6vw;
   font-weight: 700;
}

.left-grow button{
  width: 150px;
  padding:10px 8px;
  border:2px solid #28A271;
  border-radius: 10px;
  background-color: #141416;
  color:#FFFFFF;
  font-size:1vw;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}
.right-grow{
  width:50%;
}

.right-grow img{
  /* height:300px; */
  width:800px;
}

/* .right-grow img{
  box-shadow: 0 0 100px greenyellow;
  background:border-box;
} */

.ceo{
  width:80%;
  background:#283E32;
  display: flex;
  margin: 5% 10%;
  border-radius: 25px;
  color:#FFFFFF
}

.left-ceo{
  width:40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 46.53px;
  width:100%
}

.right-ceo{
  width:80%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  padding: 60px;
  margin:5%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

}

.right-ceo img {
  margin-left: 18%;
  background-size: contain;
  margin-bottom: -23%;
  position: absolute;
  background-position: center;
  width:480px;
   height:600px;
}

.left-ceo h1{
font-size:2.5vw;
border-bottom: 2px solid white;
margin-bottom: 6%;
}

.left-ceo p{
  margin-bottom: 2.5vw;
  font-size: 1.3vw;
  line-height: 2vw;
  font-weight: 400;
}

.join-community{
  width:80%;
  margin:0 10%;
  background-color: #283E32;
  border-radius: 20px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 580px;
}

.left-join{
width:100%;
background-color: #C4D5CF;
border-radius: 20px;
display: flex;
flex-direction: column;
padding:208.58px 71.76px;
gap:6%;
}

.left-join h1{
  font-weight: 700;
  font-size: 3vw;
}

.left-join p{
  font-size: 1.3vw;
  margin-bottom: 4%;
}

.left-join h4{
  font-size:1.4vw;
}

.right-join{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:36.36px 41.14px;
  background-color: #019A6C;
  height: 430px;
  width: 456px;
  margin-top: 8%;
  margin-left: -6%;
  margin-right: 3%;
  border-radius: 25px;
  gap:3%;
}
.input-design{
  display: flex;
  gap:2%;
}
.right-join input{
  background: #111111;
  padding:1vw;
  border:none;
  border-radius:6.7px;
  color:#FFFFFF
}

.right-join textarea{
  background-color: #111111;
  border-radius: 6.7px;
  padding:8px;
  height: 100px;
  color:#FFFFFF
  /* outline: none; */
}

.right-join button{
  background: #111111;
  padding:1vw;
  border:none;
  border-radius:6.7px;
  color:#DFE6E4;
  font-size: 11.48px;
}

.right-join p{
  letter-spacing: 3px;
  color: #DFE6E4;
  font-size:9.57px
}

.right-join h4{
  color:#DFE6E4;
  font-size:2vw;
  font-weight:700
}

.footer-home-main{
  width:100%;
  background-color: #181818;
  padding-top: 150px;
  padding-right: 100px;
  padding-left: 100px;
  margin: 0;
  margin-top: 5%;
}

.footer-links{
  display: flex;
  justify-content: space-between;
   
  color:#FFFFFF;
  padding: 30px;
  background-color: #181818;
  
}

.footer-links a{
  text-decoration: none;
  color: #FFFFFF;
  margin: 5px 5px 5px 0px;
  font-size:1.3vw;
}
.global-office-text{
  color: #FFFFFF;

}

.footer-links h3{
  margin-bottom: 15px;
  font-size: 1.4vw;
}

.company{
  display: flex;
  flex-direction: column;
}
.programs{
  display: flex;
  flex-direction: column;
}
.transport{
  display: flex;
  flex-direction: column;
}
.retail{
  display: flex;
  flex-direction: column;
}
.support{
  display: flex;
  flex-direction: column;
   
}
.company{
  display: flex;
  flex-direction: column;
}
.connect{
  margin-right: -6%;
}

.connect i{
  padding:5px;
  font-size: 2vw;
  letter-spacing:2px;
}

.connect h3 {
  text-align: center;
}
.footer-logo img{
  padding-left: 3%;
  height:4vw;
}
.h3-global{
  padding-left: 30px;
  font-size: 2vw;
}

.footer-global-space p{
 margin: 0px;
 font-size: 1.2vw;
}

.footer-global-space{
  font-size:1.2vw
}
@media(max-width:600px) {
  .gig-finder {
    display: flex;
    flex-direction: column;
  }
  
.four-rectangle{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
}
/* hover opportunitires redirection */

.dropbtn {
  background-color: #000;
  color: white;
   
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000c01;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 15px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #000c01;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #000c01;} 
/* hover opportunitires redirection */

@media (max-width:600px) {
  .nav-middle{
    display: none;
  }
  .nav-start img{
    width: 100px;
    height:50px;
    padding-top: 5px;
    margin-left: -40%;
  }
  .nav-main{
    padding:6px 50px 6px 50px;
    display: flex;
    justify-content: space-between;
  }
  .nav-end {
    display: none;
  }

  .nav-end-mobile{
    display: block;
    margin-right:-4%;
    font-size: 7vw; 
  }
  .mySlides img{
    height:245px;
    padding:2px 12px;
    border-radius: 18px;
  }
  .carousel-controls {  
    display: flex;  
    position: relative; 
    left:250px; 
  }
  .carousel-btn {
    border: none;
    color: #fff;
    padding: 1px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner img{
    width:100vw;
    padding: 0px;
    position: relative;
    left:-10%;
  }
  .banner {
   margin-top:-14%
  }
  .four-rectangle {
    width: 100%;
    padding: 25px;
  }
  .four-rectangle img{
    width:100px;
    height:130px;
    margin-top:-10% ;
  }
  .gig-finder {
    display: flex;
    flex-direction:column;
    width: 80%;
    margin: 5% 10%;
    color: white;
  }
  .who-are-we {
    width: 100%;
    display: flex;
    margin-top: -15%; 
    text-align: left;
  }

  .para-1{
    font-weight: 300;
    font-size: 1.8vw;
    text-transform:uppercase;
    letter-spacing: 1vw;
}

.who-are-we h1{
    font-weight: 400;
    font-size:5.8vw;
    line-height: 6.4vw;
    margin-bottom: 2%;
}

.para-2{
    font-size: 2vw;
    line-height:2.5vw;
}
.sector-innovations{
  width: 80%;
  color:white;
  background: #252525;
  margin:0 10%;
  padding:20px;
  border-radius: 25px;
}

.sector-innovations p{
  margin-bottom: 1%;
}

.sector-innovations h3{
  margin-bottom: 1%;
  font-weight: 500;
  font-size: 6vw;
}

.para-3{
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
  font-size:1.6vw;
}

.para-4{
  font-size:3.1vw;
  line-height: 4.5vw;
}

.Innovations{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Innovations a{
  width:100%;
  font-size: 4vw;
  padding: 0px;
  margin-bottom: 1.6%;
}

.Innovations i{
  font-size: 5vw;
}

.help{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:5% 10%;
  color:white;
  gap:15px;
  /* text-align: center; */
}

.help p{
  text-align: center;
  font-size: 4vw;
}

.help-cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card{
  width:80vw;
  height: 90vw;
  background-color: #000;
  border-radius: 8px;
  margin:8px;
  position: relative;
  overflow: hidden;
  opacity: 0.6;
}

.card h3{
  border-bottom: 2px solid white;
  margin-bottom: 2px;
  opacity: 1;
  position:absolute;
  top:70%;
  font-size: 7vw;
  width: 100%;
  padding:5px;
}

.help-cards{
  display: flex;
}
.grow{
  width:100%;
  background:#252525;
  display: flex;
  flex-direction: column-reverse;
  padding:0px;
}

.left-grow{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  padding: 5%;
  color:#FFFFFF;
}

.p{
  letter-spacing: 5px;
  font-weight:700;
  font-size:3vw
}

.p-2{
  font-weight:400;
  line-height: 5.3vw;
  font-size:4.1vw;
  margin-bottom: 3%;
}

.left-grow h1{
   font-size: 6.5vw;
   font-weight: 700;
   margin-bottom: 2%;
}
.left-grow button{
  width: 100px;
  font-size:2.2vw;
}
.right-grow{
  width:100%;
}
.right-grow img{
height: 250px;
position: relative;
left:-60%;
}
.ceo{
  width:100%;
  background:#283E32;
  display: flex;
  flex-direction: column-reverse;
  margin: 5% 1%;
  overflow: hidden;
}

.left-ceo{
  display: flex;
  flex-direction: column;
  padding:0px;
  margin:10px;
  width:100%
}

.right-ceo{
  width:80%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  padding: 60px;
  margin:8%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.right-ceo img {
  margin-left: 18%;
  background-size: contain;
  margin-bottom: -23%;
  position: absolute;
  height:380px;
  background-position: center;
}

.left-ceo h1{
font-size:5.8vw;
border-bottom: 2px solid white;
margin-bottom: 3%;
}

.left-ceo p{
  margin:0vw 3.4vw;
  margin-bottom: 2vw;
  font-size: 3vw;
  line-height: 3.5vw;
  font-weight: 400;
}
.join-community{
  width:80%;
  margin:0 10%;
  background-color: #000c01;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-join{
height: 75%;
width:100%;
background-color: #C4D5CF;
border-radius: 20px;
display: flex;
flex-direction: column;
padding:20px 50px;
gap:2%;
}

.left-join h1{
  font-weight: 700;
  font-size: 5vw;
}

.left-join p{
  font-size: 2.5vw;
  margin-bottom: 4%;
}

.left-join h4{
  font-size:3vw;
}

.right-join{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:36.36px 41.14px;
  background-color: #019A6C;
  height: 60%;
  width: 100%;
  margin-top: -50%;
  margin-left:1%;
  margin-right:1%;
  border-radius: 25px;
  gap:3%;
}
.input-design{
  display: block;
  padding:0px;
  width:100%
}

.input-design input{
  margin:1%;
  width:100%;
  padding:1vw;

}
.right-join input{
  background: #111111;
  padding:1vw;
  border:none;
  border-radius:6.7px;
  color:#FFFFFF;
  width:100%
}

.right-join textarea{
  background-color: #111111;
  border-radius: 6.7px;
  padding:8px;
  height: 100px;
  color:#FFFFFF
  /* outline: none; */
}

.right-join button{
  background: #111111;
  padding:1vw;
  border:none;
  border-radius:6.7px;
  color:#DFE6E4;
  font-size: 11.48px;
}

.right-join p{
  letter-spacing: 3px;
  color: #DFE6E4;
  font-size:9.57px
}

.right-join h4{
  color:#DFE6E4;
  font-size:2vw;
  font-weight:700
}
.footer-home-main{
  width:100%;
  background-color: #181818;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
  margin-top: 5%;
}

.footer-links{
  display: flex;
  justify-content: space-between;
  color:#FFFFFF;
  padding: 30px;
  background-color: #181818;
}

.footer-links a{
  text-decoration: none;
  color: #FFFFFF;
  margin: 1px 1px;
  font-size:1.6vw;
}
.global-office-text{
  color: #FFFFFF;
}

.footer-links h3{
  margin-bottom:8px;
  font-size: 1.8vw;
}

.company{
  display: flex;
  flex-direction: column;
}
.programs{
  display: flex;
  flex-direction: column;
}
.transport{
  display: flex;
  flex-direction: column;
}
.retail{
  display: flex;
  flex-direction: column;
}
.support{
  display: flex;
  flex-direction: column;
   
}
.company{
  display: flex;
  flex-direction: column;
}
.connect{
  margin-right: -1%;
}

.connect i{
  padding:1px;
  font-size: 2vw;
  letter-spacing:0px;
}

.connect h3 {
  text-align: center;
}
.footer-logo img{
  padding-left: 3%;
  height:6vw;
}
.h3-global{
  padding-left: 30px;
  font-size: 2.5vw;
}

.footer-global-space p{
 margin: 0px;
 font-size: 1.5vw;
}

.footer-global-space{
  font-size:1.5vw;
  margin:0px;
}
.footer-global-space h3{
  margin-bottom: 5%;
}


}
